[submodule "third-party/SCNet-pb"]
	path = third-party/SCNet-pb
	url = http://works.ijoon.net/Developer/SCNet-pb
[submodule "third-party/protobuf"]
	path = third-party/protobuf
	url = https://github.com/google/protobuf.git
[submodule "third-party/cppsocket"]
	path = third-party/cppsocket
	url = https://github.com/dinobei/cppsocket
